.project svg {
    width: 30px;
    margin-right: 0.75rem;
    fill: #002964;
}

.project img {
    height: auto;
    width: 100%;
    border-radius: 5px 5px 0 0;
    display: block;
    margin: 0;
    border: 2px solid #a8ebff;
}

.project {
    width: 100%;
    padding: 0;
    margin-bottom: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project p {
    margin-bottom: 2rem;
    text-align: center;
}

#buttonsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

#iconsContainer {
    background-color: #a8ebff;
    padding: 1rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: space-evenly;
}

.githubButton {
    margin-left: 1rem;
}

@media only screen and (min-width: 800px) {
    .project {
        width: 47%;
    }
}