#introSection {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 4rem !important;
}

#introPara {
    font-size: 1.2rem;
    line-height: 1.7;
    max-width: 350px;
    margin: 5rem 0;
    text-align: center;
}

#introPara span {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    color: #a8ebff;
}   

#buttonsContainer {
    display: flex;
    justify-content: space-between;
    max-width: 350px;
    margin: 0 auto;
}