.profile {
  box-shadow: 0 0 100px black;
  background-color: #00163b;
  max-width: 700px;
  margin: 0 auto;
  border-radius: 25px;
  position: relative;
  z-index: 5;
  padding-top: 6rem;
  padding-bottom: 4rem;
  border: 2px solid #001c4d;
}

.profile h2 {
  margin-bottom: 3rem;
}

.profile p {
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .profile {
      padding-left: 4rem;
      padding-right: 4rem;
  }
}


@media only screen and (min-width: 700px) {
  .profile {
      padding-left: 5rem;
      padding-right: 5rem;
  }
}
