.projects {
    position: relative;
    z-index: 5;
    box-shadow: 0 0 100px black;
    background-color: #002964;
    margin-top: 12rem;
    border: 2px solid #003580;
    border-radius: 25px;
}

#projectsContainer {
    margin-bottom: 0;
}

.projects h2 {
    padding-top: 8rem;
    padding-bottom: 4rem;
}

.projects h3 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#innerProjectsContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}

.projects .biggerSvg {
    width: 40px;
}

@media only screen and (min-width: 800px) {
    .projects {
        flex-wrap: nowrap;
    }
}