.skills {
    padding: 0;
    padding-top: 6rem;
}

.skills h2 {
    margin-bottom: 3rem;
}

.skills h3 {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.skills h3:last-of-type {
    margin-top: 2.5rem;
}

.skills p {
    text-align: center;
}

.skills figure {
    width: 80px;
}

.skills svg {
    width: 40px;
}

.iconsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}