.skills {
    padding-top: 4rem;
    margin-top: 4rem;
}

.skills h2 {
    margin-bottom: 3rem;
}

.skills p {
    text-align: center;
}

.skills figure {
    width: 90px;
}

.iconsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}